{% extends "base.html" %} {% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'style/index.css' %}">
<div class="sobre pt-5 position-relative row justify-content-center">
  <img
    class="position-absolute z-0 top-0"
    src="{% static 'img/objection.jpg' %}"
    alt="Foto relacionada a advocacia"
  />
  <div class="conteudo mb-5 col-9 col-sm-8 col-md-7 col-lg-7 col-xl-6 bg-light p-5 z-1 position-relative">
    <h3 class="text-center text-dark">Sobre Nós</h3>
    <div class="text-justify">
      <p>{%lorem 80 w%}</p>
      <p>{%lorem 40 w%}</p>
      <p>{%lorem 30 w%}</p>
      <p>{%lorem 50 w%}</p>
    </div>
  </div>
</div>
<div class="equipe mt-5 row">
  <h3 class="text-secondary text-center">EQUIPE</h3>
  {% for cargo, membros in equipe_por_cargo.items%}
    <div class="{{cargo}}-container">
      <h4 class="text-center text-secondary mt-3">{{cargo}}s</h4>
      <div class="{{cargo}}-list d-flex justify-content-center">
        {%for m in membros%}
          <div class="card bg-dark col-sm-12 col-md-3 m-1 m-md-4" style="width: 11rem">
            {% load custom_filters %} 
            {% if m.img_path%}
            <img
              src="{% static m.img_path %}"
              class="card-img"
              alt="Foto de {{m.nome}}"
            />
            {% else %}
            <img
              src="{% static 'img/icon-image-not-found-free-vector.jpg' %}"
              class="card-img"
              alt="Foto de {{m.nome}}"
            />
            {% endif %}
            <div class="card-body bg-dark text-center">
              <a
                href=""
                class="btn bg-secondary"
                data-bs-toggle="modal"
                data-bs-target="#{{m.id}}Backdrop"
                >{{m.nome_modificado}}</a
              >
            </div>
            <div
              class="modal fade"
              id="{{m.id}}Backdrop"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="{{m.id}}BackdropLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="{{m.id}}BackdropLabel">
                      {{m.nome_modificado}}
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    {% if m.socio%}
                      <h4 class="text-center text-secondary">Sócio</h4>
                    {% endif %}
                    <h6 class="text-center">{{cargo|upper}}</h6>
                    <ul class="equipe-list mt-3">

                      {% if m.cod_oab and m.cod_oab|default_if_none:''%}
                      <li><strong>Cod. OAB:</strong> {{m.cod_oab}}</li>
                      {% endif %}
                      <li><strong>Nacionalidade: </strong>{{m.fk_nacionalidade}}</li>
                      <li><strong>Data de Nascimento: </strong>{{m.data_nascimento|date:'d/m/Y'}}</li>
                      <li><strong>Formação</strong>{{m.formacao}}</li>
                      <ul class="formacao-list">
                        <li>
                          {% for formacao in m.formacao_ordenadas%}
                            <p class="mb-0">
                              <strong>{{ formacao.fk_curso.fk_nivel }} em {{ formacao.fk_curso.nome }} ({{ formacao.fk_curso.fk_modalidade }})</strong>
                            </p>
                            <p class="mb-0">{{ formacao.fk_curso.fk_instituicao.sigla }} - {{ formacao.fk_curso.fk_instituicao }}</p>
                            <p class="mb-0">
                              {{formacao.ano_entrada}} -
                              {{formacao.ano_conclusao|default_if_none:''}}
                            </p>
                            <p class="mb-0">Tese: "{{formacao.titulo_tese}}"</p>
                          {% endfor%}
                        </li>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <p>Nenhum consultor cadastrado</p>
        {%endfor%}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
