{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'style/publicacoes.css' %}">
    <div class="container">
      <h3 class="text-center text-dark"> Livros Publicados </h3>
      
      <div id="carouselLivros" class="carousel slide  d-flex justify-content-center" data-bs-theme="dark">
        <div class="carousel-inner" style="width:90%;">
          {% for livro in livros %}
          {% if forloop.counter0|divisibleby:3 %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
          {% endif %}
              <div class="card d-inline-flex mx-5 my-3 my-sm-3 my-md-3" style="width: 13rem;">
                  <img src="{% static livro.img_path %}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" >{{ livro }}</h5>
                      {% comment %} <p class="card-text">{{ livro.descricao }}</p> {% endcomment %}
                  </div>
              </div>
          {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div>
          {% endif %}
          {% empty %}
            <div class="carousel-item active">
              <div class="card mx-5" style="width: 13rem;">
                <p> Não há livros cadastrados ainda. </p>
              </div>
            </div>
          {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselLivros" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselLivros" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        
        <div class="carousel-indicators">
          {% for index in livros|slice:"::3" %}
          <button type="button" data-bs-target="#carouselLivros" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
          {% endfor %}
        </div>
      </div>
    </div>


    {% comment %} <div>
        <h2> ARCEVO ARTIGOS CIENTÍFICOS </h2>

        <div id="carouselArtigos" class="carousel slide container d-flex justify-content-center" data-bs-theme="dark">
          <div class="carousel-inner" style="width:90%;">
            {% for artigo in artigos %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% endif %}
                <div class="card d-inline-flex mx-5" style="width: 13rem;">
                    <img src="{% static artigo.img_path %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" >{{ artigo }}</h5>
                        <!-- <p class="card-text">{{ livro.descricao }}</p> -->
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
            {% endif %}
            {% empty %}
              <div class="carousel-item active">
                <div class="card mx-5" style="width: 13rem;">
                  <p> Não há livros cadastrados ainda. </p>
                </div>
              </div>
            {% endfor %}
          </div>
  
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselArtigos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselArtigos" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          
          <div class="carousel-indicators">
            {% for index in livros|slice:"::3" %}
            <button type="button" data-bs-target="#carouselArtigos" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
            {% endfor %}
          </div>
        </div>
    </div> {% endcomment %}
{% endblock %}