{% extends "base.html" %}
{% block content %}
    <div>
        <h2> LIVROS </h2>
        {% for livro in livros%}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ livro }}</h5>
                  <p class="card-text">{{ livro.descricao }}</p>
                  {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
              </div>
        {% empty %}
            <p> Não há livros cadastrados ainda. </p>
        {% endfor %}
    </div>

    <div>
        <h2> ARCEVO ARTIGOS CIENTÍFICOS </h2>
        {% for artigo in artigos%}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ livro }}</h5>
                  <p class="card-text">{{ livro.descricao }}</p>
                  {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
              </div>
        {% empty %}
            <p> Não há artigos cadastrados ainda. </p>
        {% endfor %}
    </div>
{% endblock %}