{% extends "./lista.html"%}
{% block lista%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'painel_admin' %}">Painel Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'lista_modelo' tabela %}">{{ tabela  }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">editar</li>
    </ol>
    <form action="{% url 'editar_registro' tabela id %}" method="post">
        {% csrf_token %}
        
        {% for campo in form %}
            {% if campo.name != 'password' %}
                <div class="mb-3">
                    {{ campo }}
                </div>
                {% if campo.errors %}
                    <div class="alert alert-danger">
                        {% for error in campo.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            {% empty %}
        {% endfor %}
        {% if permissoes %}
            <h3>Permissões</h3>
            <table>
                <tr>
                    
                </tr>
            </table>
        {% endif %}
        <button type="submit" class="btn bg-success text-white">Enviar</button>
    </form>
{% endblock %}