{% extends "./lista.html"%}
{% block lista%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'painel_admin' %}">Painel Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'lista_modelo' tabela %}">{{ tabela  }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">editar</li>
    </ol>
    <form action="{% url 'editar_registro' tabela id %}" method="post">
        {% csrf_token %}
        
        {% for campo in form %}
            {% if campo.name != 'password' %}
                <div class="mb-3">
                    {{ campo }}
                </div>
                {% if campo.errors %}
                    <div class="alert alert-danger">
                        {% for error in campo.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            {% empty %}
        {% endfor %}
        {% if permissoes %}
            <h3>Permissoes</h3>
            {% if is_superuser or is_staff %}
                <div>
                    <label for="is_superuser">Super usuario</label>
                    <input type="checkbox" name="is_superuser" value="" {%if is_superuser %}checked{%endif%}>
                    <br>
                    <label for="is_staff">Staff</label>
                    <input type="checkbox" name="is_staff" value="" {%if is_staff %}checked{%endif%}>
                </div>
            {% endif %}
            {% if not is_superuser %}
                <table class="table text-center">
                    <tr>
                        <th rowspan="2">Permissão</th>
                        <th colspan="4">Permitido</th>
                    </tr>
                    <tr>
                        <td>adicionar</td>
                        <td>modificar</td>
                        <td>excluir</td>
                        <td>visualizar</td>
                    </tr>
                    {% for key, value in permissoes.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                <input type="checkbox" name="permissoes" value="{{value.add.id}}" {%if value.add.id in permissao_usuario or value.add.id in permissao_grupo %}checked{%endif%}>
                            </td>
                            <td>
                                <input type="checkbox" name="permissoes" value="{{value.change.id}}" {%if value.change.id in permissao_usuario or value.change.id in permissao_grupo %}checked{%endif%}>
                            </td>
                            <td>
                                <input type="checkbox" name="permissoes" value="{{value.delete.id}}" {%if value.delete.id in permissao_usuario or value.delete.id in permissao_grupo %}checked{%endif%}>
                            </td>
                            <td>
                                <input type="checkbox" name="permissoes" value="{{value.view.id}}" {%if value.view.id in permissao_usuario or value.view.id in permissao_grupo %}checked{%endif%}>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
        <button type="submit" class="btn bg-success text-white">Enviar</button>
    </form>
{% endblock %}