.card {
    border: none;
}

.card-img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center top;
}

body {
    background-color: var(--bs-dark);
}

.equipe-list li::marker {
    content: "› ";
    color: var(--bs-dark);
}

.sobre img{
    max-height: 66vh;
    min-height: 50vh;
    object-fit: cover;
    object-position: top;
    height: auto;
}
