.container {
    margin-top: 2rem;
}

.carousel-item {
    background-color: #f8f9fa;
    color: #343a40;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: center;
}

.card:hover {
<<<<<<< HEAD
=======
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
>>>>>>> 6681d1ff08b3228a8bc4fd5f4cc6294107c3141d
    cursor: pointer;
}